.header{
    background-color: rgb(255, 255, 255, 0.85);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:0 2px rgba(0, 0, 0, 0.15) ;
    font-family: sans-serif;
}
.logo{

    margin: 0;
    font-family: sans-serif;
    font-size: 26px;
} 
.icon{
    color: #4a6cf7;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 14px;
    border-radius: 12px;
    margin-left: 10px;
}

.ne{
    color:#4a6cf7;
    font-weight: 700;
}
.code{
    color:#63c09b;
    font-weight: 500;
}

.nav{
    display: flex;
    gap: 1.5rem;

}
.navItem{
    color: #4a6cf7;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s;
    
}
.navItem:hover{
    cursor: pointer;
    color:  #63c09b;
;
}